# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# --- Data ---
data/

# --- Models & Weights ---
*.pth
runs/

models/checkpoints/rescuenet_seg/*
!models/checkpoints/rescuenet_seg/.gitkeep
!models/checkpoints/rescuenet_seg/weights/

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db